{
    "name": "Fobox Dev",
    "async": true,
    "server_class": "AsyncServer",
    "host": "localhost",
    "port": 8080,
    "debug": true,
    "ssl": {
        "fullchain": false,
        "key": false
    },
    "apps": [
        "auth",
        "app",
        "admin"
    ],
    "smart_navigation": true,
    "timeout": 0.5,
    "max_bytes_per_receive": 4096,
    "max_header_size": 4294967296,
    "dbs": [
        {
            "dsn": "postgres://postgres:1234@localhost/postgres",
            "server_settings": {
                "search_path": "public"
            }
        }
    ],
    "smtp": {
        "server_host": "smtp.gmail.com",
        "server_port": 587,
        "address": "example@gmail.com",
        "password": "abcd efgh jklm nopq"
    }
}